<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-1-g15f4949  Build Version: 1.6.7594.29634
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->

<robot xmlns:xacro="http://ros.org/wiki/xacro">

    <xacro:macro name="transmission_ext">

        <transmission name="elbow_rev">
            <type>transmission_interface/SimpleTransmission</type>
            <joint name="rev_1">
                <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
            </joint>
            <actuator name="slide_right_motor">
                <mechanicalReduction>1</mechanicalReduction>
            </actuator>
        </transmission>

       <transmission name="slide_right_trans">
            <type>transmission_interface/SimpleTransmission</type>
            <joint name="slide_right">
                <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
            </joint>
            <actuator name="slide_right_motor">
                <mechanicalReduction>1</mechanicalReduction>
            </actuator>
        </transmission>

        <transmission name="slide_left_trans">
            <type>transmission_interface/SimpleTransmission</type>
            <joint name="slide_left">
                <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
            </joint>
            <actuator name="slide_left_motor">
                <mechanicalReduction>1</mechanicalReduction>
            </actuator>
        </transmission>
    </xacro:macro>


</robot>
